.about-section {
  border-bottom: 1px solid $mainNewGrey;
  background-color: $mainNewGrey;
  position: relative;
  height: 100vh;
  margin: 0;

  &__image {
    display: block;
  }

  &__text-content {
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mainGrey;  
    

    @mixin atMedium {
      padding-top: 60px;
      
    }
  }

  &__title {
    font-weight: 300;
    color: $mainWhite;
    margin: 0;
    font-size: 2.4rem;
  
    @mixin atSmall {
      font-size: 4.8rem;
    }
  &__title-b-block {
      display: inline-block;
      padding: 20px 20px 20px 20px;
      opacity: .85;
      background-color: transparent;
    }
  

  }

  &__subtitle {
    font-weight: 300;
    color: $mainWhite;
    font-size: 1rem;
    margin: 0;
    

    @mixin atSmall {
      font-size: 2.9rem;
      
    }

  }

  &__description {
    color: &mainGrey;
    font-size: 1.1rem;
    font-weight: 300;
    /* text-shadow: 2px 2px 0 rgba(0, 0, 0, .1); */
    width: 100%;
    

    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

}