.large-hero-main {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: $mainWhite;
    position: relative;
    padding: 0;
    margin: 0;
    background-image: radial-gradient(
        $mainNewGrey 1px,
        transparent 1px
    );
    background-size: 20px 20px;  
    
    &__text-content {
      padding-top: 88px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      text-align: center;
  
      @mixin atMedium {
        padding-top: 60px;
      }
    }  

  }
  
  .mainbm {
    color: $mainWhite;
    position: absolute;
    bottom: 15px;
    right: 33%;
    
    
  }
  
  .icons{
    padding-top: 15px;
    
    
    @mixin atMedium{
        
    }
   
    
}